.editBlock {
    width: 50%;
    float: left;
    .title {
        margin-bottom: 20px;
    }
    .ck-content {
        min-height: 400px;
    }
}
.showBlock {
    width: 50%;
    float: right;
    .title {
        width: 100%;
        text-align: center;
        font-size: 28px;
        min-height: 50px;
    }
    .content {
        padding: 20px;
        min-height: 450px;
        overflow-y: scroll;
    }
    .submit {
        width: 200px;
        left: 50%;
        margin-left: -100px;
    }
}
